:root
{
    --color-primero:#FDFFFC;
    --color-segundo:#031926;
    --color-tercero:#750D37;
    --color-cuarto:#007EA7;
    --color-quinto:#00A8E8;
    --market-text: #66cdab8f;
}

$path: '/src/images/';
$nav-header: 4rem;