extends templates/templete

block header_content

block main_content
    include configuration/layout/banner
    include configuration/layout/card

block footer_content
    include configuration/layout/footer
    include configuration/layout/go_up

