body
{
    width: 100%;
    height: 100%;
    background-color: var(--color-primero);
}
header,
section
{
    width: 100%;
}

.corners
{
    padding: 1rem 2rem;
    
    @include rwd (l){
        padding: 1.5rem 3rem;
    }
}