.banner
    .banner_text
        h1 Hugo Pineda
        p.banner__pg Front End
    .banner__imagen
        append variable
        - nameImagen = 'Imagen de código HTML'
        img(src=`${pathImages}web_html.svg` alt=`${nameImagen}` title=`${nameImagen}`).banner__img