section
    .pie
        nav.pie__nav
            ul.pie__menu
                li.pie__list
                    a(href="#"): <i class="fab fa-facebook-f"></i>
                        |hugodlyo
                li.pie__list
                    a(href="#"): <i class="fab fa-twitter"></i>
                        |@hugodlyo
                li.pie__list
                    a(href="#"): <i class="fab fa-instagram"></i>
                        |@hugodlyo
                li.pie__list
                    a(href="#"): <i class="fab fa-github"></i>
                        |hugodlyo
        .pie__derechos
            p.pie__pg Todos los derechos reservados por Hugo D Lyo <i class="far fa-copyright"></i>