- let namePortfolio = 'Hugo Pineda'
- let nameImagen = 'Nombre Imagen'

- let pathNormalize = '/src/assets/css/normalize.css'
- let pathStyle = '/src/assets/css/style.css'
- let pathImages = '/src/images/'
- let pathJs = '/src/assets/js/'